@page "/onboarding"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@inherits LayoutComponentBase

<style>
    .copyright-footer {
        display: none;
    }

    .wk-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .first-card {
        background-color: #EC3679;
        background-image: linear-gradient(315deg, #EC3679 0%, rgba(38,132,255,1) 80%);
    }

    .second-card {
        background-color: #f6be65;
        background-image: linear-gradient(135deg, #f6be65 0, #e6603a 80%);
    }

    .third-card {
        background-color: #e1358f;
        background-image: linear-gradient(315deg, #e1358f 0, #7e6ce7 80%)
    }

    .device-box {
        background-image: url(/images/onboarding/device_white.png);
        background-size: auto !important;
        background-position: center center !important;
        background-repeat: no-repeat;
    }

    .btn-flat {
        color: #fff;
        border: 0px solid transparent;
        position: relative;
        bottom: -25px;
        /*margin: 50px 0px 10px 0px;*/
        width: 100%;
        z-index: 111;
    }

    .wk-centered {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }
</style>

<MudCarousel @ref="_carousel" Class="wk-container" Style="width: 100%; height: 100%;" ShowArrows="false" ShowBullets="false" AutoCycle="false" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <MudCard Outlined="false" Square="true" Class="wk-container first-card border-0 d-flex flex-column justify-center">
            <MudCardContent Class="d-flex flex-column align-self-center" Style="height: 100vh">
                <div class="px-10 pt-15" style="height: 100vh; width: auto; position: relative;">
                    <MudImage Style="height: 80%; width: auto;" Src="/images/onboarding/device_white.png" Alt="" Class="wk-centered"/>
                    <MudOverlay Visible="true" Class="d-flex flex-column" DarkBackground="false" Absolute="true" Style="height: 100%; min-width: 100%;">
                        <MudIcon Icon="fas fa-globe" Class="fa-3x wk-centered" Style="color: #ffffff;"></MudIcon>
                        <MudText Typo="Typo.h6" Class="mt-3 bounceIn" Style="font-weight: 700; color: #ffffff" Align="Align.Center">
                            Welcome
                        </MudText>
                        <MudText Typo="Typo.caption" Class="mt-3" Align="Align.Center" Style="display: block; color: #ffffff;">
                            To a new world of posibilities,<br> welcome to MauiStore.
                        </MudText>
                    </MudOverlay>
                    <MudButton Class="btn-flat rounded-lg" OnClick="NextAsync" FullWidth="true" Variant="Variant.Outlined" Size="Size.Medium" Style="@($"color:{Colors.Shades.White}; background-color: #D5004E;")"> Next </MudButton>
                </div>
            </MudCardContent> 
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <MudCard Outlined="false" Square="true" Class="wk-container second-card border-0 d-flex flex-column justify-center">
            <MudCardContent Class="d-flex flex-column align-self-center" Style="height: 100vh">
                <div class="px-10 pt-15" style="height: 100vh; width: auto; position: relative;">
                    <MudImage Style="height: 80%; width: auto;" Src="/images/onboarding/device_white.png" Alt="" Class="wk-centered"/>
                    <MudOverlay Visible="true" Class="d-flex flex-column" DarkBackground="false" Absolute="true" Style="height: 100%; min-width: 100%;">
                        <MudIcon Icon="fas fa-bolt" Class="fa-3x wk-centered" Style="color: #ffffff;"></MudIcon>
                        <MudText Typo="Typo.h6" Class="mt-3 rotateIn" Style="font-weight: 700; color: #ffffff;" Align="Align.Center">
                            Save Time
                        </MudText>
                        <MudText Typo="Typo.caption" Class="mt-3" Align="Align.Center" Style="display: block; color: #ffffff;">
                            Save countless hours of UI design.<br>Focus on your app functions.
                        </MudText>
                    </MudOverlay>
                    <MudButton Class="btn-flat rounded-lg" OnClick="NextAsync" FullWidth="true" Variant="Variant.Outlined" Size="Size.Medium" Style="@($"color:{Colors.Shades.White}; background-color: #9C27B0;")"> Next </MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <MudCard Outlined="false" Square="true" Class="wk-container third-card border-0 d-flex flex-column justify-center">
            <MudCardContent Class="d-flex flex-column align-self-center" Style="height: 100vh">
                <div class="px-10 pt-15" style="height: 100vh; width: auto; position: relative;">
                    <MudImage Style="height: 80%; width: auto;" Src="/images/onboarding/device_white.png" Alt="" Class="wk-centered"/>
                    <MudOverlay Visible="true" Class="d-flex flex-column" DarkBackground="false" Absolute="true" Style="height: 100%; min-width: 100%;">
                        <MudIcon Icon="fas fa-graduation-cap" Class=" fa-3x wk-centered" Style="color: #ffffff;"></MudIcon>
                        <MudText Typo="Typo.h6" Class="mt-3 backInDown" Style="font-weight: 700; color: #ffffff " Align="Align.Center">
                            Learn
                        </MudText>
                        <MudText Typo="Typo.caption" Class="mt-3" Align="Align.Center" Style="display: block; color: #ffffff;">
                            Learn while you work. <br>Tons of examples for you to explore.
                        </MudText>
                    </MudOverlay>
                    <MudButton Class="btn-flat rounded-lg" OnClick="FinishAsync" FullWidth="true" Variant="Variant.Outlined" Size="Size.Medium" Style="@($"color:{Colors.Shades.White}; background-color: #536DFE;")"> FINISH! </MudButton>
                </div>
            </MudCardContent>
        </MudCard>
    </MudCarouselItem>
</MudCarousel>

@code{
    private MudCarousel<object> _carousel;

    private async Task NextAsync()
    {
        _carousel.Next();
    }

    [CascadingParameter] public MainLayout Parent { get; set; }

    private async Task FinishAsync()
    {
        Parent.IsFirstVisit = !Parent.IsFirstVisit;
        await _clientPreferenceManager.ChangeFirstVisitAsync(Parent.IsFirstVisit);
        await InvokeAsync(StateHasChanged);
        _navigationManager.NavigateTo("/");
    }
}

