<div class="d-flex mb-3">
    <MudImage Src="/images/logo.svg" Style="height: 60px; width: 60px" Class="rounded-xl" />
    <div class="mx-3 align-self-center">
        <MudText Color="Color.Primary" Typo="Typo.h6" Style="font-weight: 600;"> MauiStore</MudText>
        <MudText Color="Color.Default" Typo="Typo.caption"> DESIGN STUDIO </MudText>
    </div>
</div>

@code {

}
