@page "/profile1"

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0 mb-3">
    <MudItem xs="12">
        <MudCard Elevation="1" Class="rounded-lg">
            <MudCardMedia Image="images/pictures/28w.jpg" Height="140" />
            <MudCardContent Class="pt-0">
                <MudAvatar Style="height: 80px; width: 80px;"  Class="mt-n10" >
                    <MudImage Src="images/pictures/faces/3s.png"/>
                </MudAvatar>
                <div class="d-flex justify-space-between mb-2">
                    <div>
                        <MudText Typo="Typo.h6" Style="font-weight: 700;" Class="">John Doe</MudText>
                        <MudText Typo="Typo.caption" Color="Color.Primary">Graphic Designer</MudText>
                        <div class="d-flex mt-2">
                            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="align-self-center" Color="Color.Secondary" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.caption" Style="font-weight: 500;" Class="align-self-center mx-1" Color="@Color.Secondary">San Francisco, California</MudText>
                        </div>
                    </div>
                    <MudButton Class="align-self-center rounded-lg py-0" Color="Color.Primary" Variant="Variant.Outlined">Edit</MudButton>
                </div>
                <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ex mi, porttitor id nisi vel neque.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudCard Elevation="1" Class="rounded-lg">
    <MudCardContent Class="">
        <MudPaper Elevation="0" Class="d-flex justify-space-around">
            <MudPaper Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 700">678</MudText>
                <MudText Typo="Typo.caption" Align="Align.Center" Style="font-weight: 500">Followers</MudText>
            </MudPaper>
            <MudPaper Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 700">123</MudText>
                <MudText Typo="Typo.caption" Align="Align.Center" Style="font-weight: 500">Following</MudText>
            </MudPaper>
            <MudPaper Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 700">435</MudText>
                <MudText Typo="Typo.caption" Align="Align.Center" Style="font-weight: 500">Posts</MudText>
            </MudPaper>
        </MudPaper>
        <MudDivider Class="mt-2 mb-4"></MudDivider>
        <MudGrid Class="pb-2" Spacing="1">
            <MudItem xs="6">
                <MudButton Class="rounded-lg" Color="Color.Primary" FullWidth="true" Variant="Variant.Filled">Follow</MudButton>
            </MudItem>
            <MudItem xs="6">
                <MudButton Class="rounded-lg" Color="Color.Primary" FullWidth="true" Variant="Variant.Outlined">Message</MudButton>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<MudCard Elevation="1" Class="rounded-lg mt-5">
    <MudCardContent>
        <MudText Typo="Typo.h6" Style="font-weight: 500;">Media</MudText>
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudGrid Spacing="3" Class="d-flex align-content-center justify-space-between flex-wrap pa-0">
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/26m.jpg" Fluid="true" Class="rounded-lg" />
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Writer</MudText>
                </MudItem>
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/27m.jpg" Fluid="true" Class="rounded-lg" />
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Cream</MudText>
                </MudItem>
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/22m.jpg" Fluid="true" Class="rounded-lg"/>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Cookie</MudText>
                </MudItem>
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/23m.jpg" Fluid="true" Class="rounded-lg" />
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Pots</MudText>
                </MudItem>
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/24m.jpg" Fluid="true" Class="rounded-lg" />
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Berry</MudText>
                </MudItem>
                <MudItem xs="6" md="6" lg="4">
                    <MudImage Src="/images/pictures/25m.jpg" Fluid="true" Class="rounded-lg"/>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Camera</MudText>
                </MudItem>
            </MudGrid>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
            <MudGrid Spacing="1" Class="pa-0">
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/26t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/27t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/22t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/23t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/24t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/25t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/26t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/27t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="4" md="6" lg="4">
                    <MudImage Src="/images/pictures/28t.jpg" Fluid="true" Class="rounded-lg" />
                </MudItem>
            </MudGrid>
        </MudHidden>
    </MudCardContent>
</MudCard>
@code {
    protected override async Task OnInitializedAsync()
    {

    }
}