@page "/profile2"

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudCard Elevation="1" Class="mt-n15 pt-0 mb-1 rounded-lg">
    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem xs="12">
                <MudPaper Elevation="0">
                    <div class="d-flex">
                        <div>
                            <MudText Color="Color.Primary" Typo="Typo.h6" Style="font-weight: 700;">John Doe</MudText>
                            <MudText Color="Color.Default" Typo="Typo.caption" Style="font-weight: 500;">John Doe is a name used when you generate a text with an annonymous name.</MudText>
                            <div class="d-flex mt-3">
                                <MudText Typo="Typo.caption"><strong>1k</strong> Followers</MudText>
                                <MudText Class="mx-3" Typo="Typo.caption"><strong>234</strong> Following</MudText>
                            </div>
                        </div>
                        <MudAvatar Class="align-self-center" Style="height: 90px; width: 90px;">
                            <MudImage Src="images/pictures/faces/3s.png" />
                        </MudAvatar>
                    </div>
                </MudPaper>
            </MudItem>

            <MudItem xs="6">
                <MudButton Class="rounded-lg" Color="Color.Primary" FullWidth="true" Variant="Variant.Filled">Follow</MudButton>
            </MudItem>
            <MudItem xs="6">
                <MudButton Class="rounded-lg" Color="Color.Primary" FullWidth="true" Variant="Variant.Outlined">Message</MudButton>
            </MudItem>

            <MudItem xs="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudGrid Spacing="3" Class="d-flex align-content-center justify-space-between flex-wrap pa-3">
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/26m.jpg" Fluid="true" Class="rounded-lg" />
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Writer</MudText>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/27m.jpg" Fluid="true" Class="rounded-lg" />
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Cream</MudText>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/22m.jpg" Fluid="true" Class="rounded-lg"/>
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Cookie</MudText>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/23m.jpg" Fluid="true" Class="rounded-lg" />
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Pots</MudText>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/24m.jpg" Fluid="true" Class="rounded-lg" />
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Berry</MudText>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Src="/images/pictures/25m.jpg" Fluid="true" Class="rounded-lg"/>
                        <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1">Camera</MudText>
                    </MudItem>
                </MudGrid>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                <MudGrid Spacing="1" Class="pa-3">
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/26t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/27t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/22t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/23t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/24t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/25t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/26t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/27t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="6" lg="4">
                        <MudImage Src="/images/pictures/28t.jpg" Fluid="true" Class="rounded-lg" />
                    </MudItem>
                </MudGrid>
            </MudHidden>
        </MudGrid>
    </MudCardContent>
</MudCard>