@page "/pages/sign-in"

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0">
    <MudItem xs="12">
        <MudCard Elevation="1" Class="rounded-lg py-1">
            <MudCardContent>
                <MudText Color="Color.Default" Typo="Typo.h6" Style="font-weight: 600;">Sign In</MudText>
                <MudText Class="mb-5" Typo="Typo.body2">Login in to your admin dashboard</MudText>

                <MudTextField Class="mt-3" T="string" Label="Username" Variant="Variant.Filled" Margin="Margin.Dense"
                              AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.TwoTone.AccountCircle" />
                
                <MudTextField Class="mt-3" Label="Password" Variant="Variant.Filled" Margin="Margin.Dense"
                              T="string" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.TwoTone.Lock" />                            
                

                <MudButton Class="my-4 py-2 rounded-lg" Color="Color.Tertiary" FullWidth="true" Variant="Variant.Filled"> Login </MudButton>

                <MudDivider Class="my-3"></MudDivider>
                <MudText Align="Align.Center" Typo="Typo.body2"> Or </MudText>
                <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Primary" DropShadow="false" FullWidth="true" StartIcon="fab fa-facebook" Variant="Variant.Filled"> Login with Facebook </MudButton>
                <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Error" DropShadow="false" FullWidth="true" StartIcon="fab fa-google" Variant="Variant.Filled"> Login with Google </MudButton>
                <MudButton Class="my-1 py-2 rounded-lg" Color="Color.Default" DropShadow="false" FullWidth="true" StartIcon="fab fa-apple" Variant="Variant.Filled"> Login with Apple </MudButton>

                <MudDivider Class="my-3"></MudDivider>

                <div class="d-flex justify-space-between">
                    <MudLink Href="/pages/sign-up" Typo="Typo.body2">Create Account</MudLink>
                    <MudLink Href="/pages/forgot-password" Typo="Typo.body2">Forgot Password?</MudLink>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {
    protected override async Task OnInitializedAsync()
    {

    }
}